#header {
	position: fixed;
	z-index: 10;
	width: 100%;
	right: 0;
	left: 0;
	max-width: 100vw;


	@media screen and (min-width: 768px) {
		max-width: 100%;
	}

	&.sticky {
		.header-logo {
			display: none;
		}

		.header-controls {
			margin-top: 0;
		}
	}
}

.header-link-item {
	color: #ffffff;
	display: flex;
	align-items: center;
	margin-right: 1rem;

	@media screen and (min-width: 768px) {
		margin-right: 2.5rem;
	}

	&:last-of-type {
		margin-right: 3rem;
	}

	&__icon {
		display: none;

		@media screen and (min-width: 768px) {
			display: inline-block;
			margin-right: 1rem;
			height: 46px;
			width: 46px;
		}
	}

	&__text {
	}
}
