@font-face {
  font-family: "Guillon";
  src: url("Guillon-Demi.woff2") format("woff2"),
    url("Guillon-Demi.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Guillon-Thin";
  src: url("Guillon-Thin.woff2") format("woff2"),
    url("Guillon-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Guillon-Light";
  src: url("Guillon-Light.woff2") format("woff2"),
    url("Guillon-Light.woff") format("woff");
  font-weight: 300;
}
