.heading {

	&-content {
		position: relative;
		padding: 5rem 0;
		text-align: center;
		background-color: #f4f4f4;
		border: 0;
		border-bottom-right-radius: 100%;
		border-bottom-left-radius: 100%;
		color: #6d6e70;
		z-index: 3;
	}

	&-icon {
		display: none;
		object-fit: contain;
		height: auto;
		width: 12rem;
		position: absolute;
		bottom: auto;
		left: 2rem;
		top: 0;
		margin-top: -6rem;
		z-index: 1;

		&.right {
			right: 0;
			left: auto;
			margin-top: 0;
			top: auto;
			width: 25vw;
		}

		@media all and (min-width: 75em) {
			width: 15rem;
		}

		@media all and (min-width: 1100px) {
			display: block;
		}
	}
}
