.newsletter-signup {
	position: relative;
	max-width: 460px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 3rem 0;

	@media (min-width: 1024px) {
		padding: 6rem 0;
	}

	form {
		width: 100%;
		display: flex;
		margin: 0 -.5rem;
		justify-content: center;

		& > * {
			margin: 0 .5rem;
		}

		@media all and (min-width: 40em) {
			max-width: 470px;
			margin: 0 auto;
		}
	}

	input {
		border-radius: 10px;
		padding: 0.4rem 0.6rem;
	}

	input[type="text"] {
		flex-grow: 1;
		border: 0;
	}

	input[type="submit"] {
		color: $blue;
		border: 1px solid;
	}

	p {
		width: 100%;
		max-width: 90vw;
		margin: 0;

		@media all and (min-width: 40em) {
			max-width: 480px;
		}
	}

	p + p {
		margin-bottom: 2rem;
	}

	.gfield_required {
		display: none;
	}
}

