{#
/**
 * Block Name: Contact Details
 *
 * This is the template that displays all contact details
 *
 * @since  1.0.0
 */
#}

<div id="{{ block.id }}" class="component contact-details">

	{{ function('render_contact_details')}}

</div>
