{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% if "terms-and-conditions" in post.link %}
			{% include "partial/css-circles-brgb.twig" %}
		{% elseif "privacy-policy" in post.link %}
			{% include "partial/css-circles-byrb.twig" %}
		{% elseif "patent-information" in post.link %}
			{% include "partial/css-circles-rbro.twig" %}
		{% elseif "about-intuity-medical" in post.link%}
			{% include "partial/css-circles-brgb.twig" %}
		{% endif %}
		{# <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a> #}
		{% if post.link %}		
			<div id="pogo-body-container">
		{% endif %}
		
			<header id="header" class="main-background">
				{% block header %}
					<div class="header-content">
						<a href="/" class="header-logo"> <img src="/wp-content/uploads/2019/04/logo.png" alt="" class="logo" /> </a>
						<button class="header-button" data-modal="sign-in">Sign In</button>
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</div>
				{% endblock %}
			</header>
			{% block content %}
			
			{% endblock %}


			{% block footer %}
				<footer id="footer" class="main-background">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}

			{% if post.link %}
				</div>	
			{% endif %}

		<script src="/wp-content/themes/pogo/static/events.js"></script>
	</body>
</html>
