{% extends "base.twig" %}

{% block content %}
	<div class="bkgrnd-circle bkgrnd-circle-top-right" style="
    background-image: url(/wp-content/uploads/2019/04/circle-blue-red.svg);
    ">
	</div>

	<div>
		<div class="videos">
			<video
					class="active"
					id="forward"
					muted
					preload
					src="/wp-content/uploads/2019/04/video.mp4"
			></video>
			<video id="reverse" muted preload src="./wp-content/uploads/2019/04/video-reverse.mp4"></video>
		</div>
		<div id="fullpage">
			<section class="section">
				<div class="slide-content">
					<h2 class="is-blue title title-3">Introducing POGO® Automatic™</h2>
					<h3 class="is-grey title title-2">Blood testing, simplified.</h3>
					<p class="is-grey font-body">
						The POGO Automatic meter is a whole new way to test glucose. It’s
						simple, discreet, and won’t get in the way of your life. Just load
						the 10-test cartridge and press your finger on the blue button.
						The meter does the rest. Press. Test. Go. It’s that simple.
					</p>
				</div>
			</section>
			<section class="section">
				<div class="slide-content">
					<h2 class="is-blue title title-3">The new POGO® Automatic™ System</h2>
					<h3 class="is-grey title title-2">
						Fast results in just one-step.
					</h3>
					<p class="is-grey font-body">
						Just press your finger on the blue button for automatic lancing
						and blood collection. Making it easy to test anywhere, any time.
						Never handle another test strip or lancet again.
					</p>
				</div>
			</section>
			<section class="section">
				<div class="slide-content">
					<h2 class="is-blue title title-3">The POGO® Automatic™ System</h2>
					<h3 class="is-grey title title-2">
						Test your glucose on your terms.
					</h3>
					<p class="is-grey font-body">
						With most glucose meters, every test takes away precious minutes
						from your life. With POGO Automatic, you get your result in 4
						seconds without skipping a beat in your daily routine.
					</p>
				</div>
			</section>
			<section class="section last-section">
				<div class="slide-content">
					<h2 class="is-blue title title-3">The POGO® Automatic™ Cartridge</h2>
					<h3 class="is-grey title title-2">
						10 complete tests in one tiny package.
					</h3>
					<p class="is-grey font-body">
						The POGO Automatic System combines lancing and blood collection in
						a single 10-test cartridge. No more loading individual lancets and
						test strips—or handling and disposing of supplies. Just insert a
						POGO test cartridge and with each test, you get a fresh lancet.
					</p>
				</div>
			</section>
		</div>
		<div class="dots">
			<div class="dot active"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>

	</div>

	<main style="position: relative;">
		<div class="bkgrnd-circle bkgrnd-circle-top-left" style="background-image: url(/wp-content/uploads/2019/04/circle-blue-yellow.svg);"></div>

		<section class="main-info">

			<div class="main-info-img" style="background-image: url(/wp-content/uploads/2019/04/handandphone.png);z-index: 2;"></div>

			<div class="content flex flex-end" style="position: relative; z-index: 2;">
				<div class="main-info-copy">
					<h2 class="title title-3">POGO® Automatic™ + Patterns</h2>
					<h3 class="title title-2"> Together, they make managing your health easier.</h3>
					<p>
						The Patterns app syncs your POGO Automatic data, so you can easily track your glucose results on your iOS or Android-based phone or desktop PC.
					</p>
					<p>
						Our lifestyle health coaching program pairs you with a professional certified diabetes educator to help you develop a healthy lifestyle plan and the one-on-
					</p>
				</div>
			</div>
		</section>
		<div class="bkgrnd-circle bkgrnd-circle-bottom-right" style="background-image: url(/wp-content/uploads/2019/04/circle-orange-red.svg);z-index: 1;"></div>
	</main>

	<section class="newsletter-signup text-center" style="z-index: 2;">

		<div class="bkgrnd-circle bkgrnd-circle-bottom-left" style="background-image: url(/wp-content/uploads/2019/04/circle-blue-green.svg);z-index: 1;"></div>

		<div class="content" style="position: relative;">

			<h3 class="title title-2 is-grey">Be the first to know.</h3>
			<p class="is-grey">
				Want to learn more about POGO Automatic? &nbsp;
				Get the latest info on how you can simplify glucose
				testing with the push of a button.
			</p>

			<form action="">
				<input type="text" placeholder="Email">
				<input type="submit" value="Get Started">
			</form>
		</div>

	</section>
{% endblock %}
