<div class="modal" data-modal="sign-in">
  <span class="modal-close">X</span>
  <div class="signin">
    <h2 class="title title-2 is-blue">Sign In</h2>
    <form action="" class="signin-form">
      <fieldset class="signin-field">
        <input type="text" class="signin-input" placeholder="User Name or E-Mail">
        <span></span>
      </fieldset>
      <fieldset class="signin-field">
        <input type="password" class="signin-input" placeholder="Password">
        <span></span>
      </fieldset>
      <div class="signin-actions">
        <button class="signin-button btn-submit" type="submit">submit</button>
        <button class="signin-button btn-cancel" type="button" data-modal="close">cancel</button>
      </div>
    </form>
  </div>
</div>